name: Stat

on:
  pull_request:
    types: [opened, synchronize, reopend]

jobs:
  main:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [22.x]
    steps:
      - name: Checkout HEAD
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - name: Setup
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - name: Pick HEAD hash
        id: head-hash
        run: echo "hash=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
      - name: Stat HEAD
        run: |
          npm ci
          node ./scripts/stat.mjs -o ./__stat_after__.json

      - name: Fetch base
        run: git fetch origin ${{ github.event.pull_request.base.ref }}
      - name: Checkout and stat base
        run: |
          git checkout origin/${{ github.event.pull_request.base.ref }}
          npm ci
          node ./scripts/stat.mjs -o ./__stat_before__.json

      - name: Compare stats
        id: compare-stats
        continue-on-error: true
        run: |
          git checkout ${{ steps.head-hash.outputs.hash }}
          echo "### File size report" > __stat__.txt
          echo "" >> __stat__.txt
          node ./scripts/compare-stat.mjs ./__stat_after__.json ./__stat_before__.json >> __stat__.txt

      - name: "Report stats as fallback"
        if: ${{ steps.compare-stats.outcome != "success" }}
        run: |
          git checkout ${{ steps.head-hash.outputs.hash }}
          echo "### File size report" > __stat__.txt
          echo "" >> __stat__.txt
          node ./scripts/compare-stat.mjs ./__stat_after__.json >> __stat__.txt

      - name: Find previous comment
        id: find-comment
        uses: peter-evans/find-comment@3eae4d37986fb5a8592848f6a574fdf654e61f9e # v3.1.0
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: "### File size report"
          comment-author: "github-actions[bot]"

      - name: Crate or update comment
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4.0.0
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-id: ${{ steps.find-comment.outputs.comment-id }}
          body: $(cat __stat__.txt)
          edit-mode: replace
